---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/node_modules/bootstrap-sass/assets/fonts/bootstrap/";

/* custom variable */
// $body-bg: red;

@import "variables";
@import "bootswatch";

/* any style customization must be before the bootstrap import */
@import "bootstrap";

/* landing page styles */
.jumbotron {
    margin-top: -24px;
}

.jumbotron h1{
    color: #fff;
}

.jumbotron p{
    color: #fff;
}

.navbar .nav > li > a:hover {
    color: #00ffff
    !important;
}

.navbar-inverse .navbar-brand:hover {
    color: #00ffff
    !important;
}

/* styles for docs menu */
nav#toc {
    margin-top: 16px;
    width: 250px;
}

@media screen and (max-width: 767px) {
	nav#toc {
        display: none;
	}
}

/* content styles */
body {
    line-height: 1.6;
}

h2, h3, h4, h5 {
    margin-top: 36px;
}

img {
    max-width: 100%;
}

.panel-body, .table-wrapper {
    max-width: 100%;
    overflow: auto;
}

.panel,
p,
img,
pre {
    margin-top: 16px;
    margin-bottom: 16px;
}

/* center the footer */
footer {
    border-top: 1px solid #ecf0f1;
    margin-top: 16px;
    padding: 16px;
    text-align: center;
    width: 100%;
}