---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/node_modules/bootstrap-sass/assets/fonts/bootstrap/";

/* custom variable */
// $body-bg: red;

@import "variables";
@import "bootswatch";

/* any style customization must be before the bootstrap import */
@import "bootstrap";

/* landing page styles */
.jumbotron {
    margin-top: -24px;
}

.jumbotron h1{
    color: #fff;
}

.jumbotron p{
    color: #fff;
}

.navbar .nav > li > a:hover {
    color: #00ffff
    !important;
}

.navbar-inverse .navbar-brand:hover {
    color: #00ffff
    !important;
}

/* styles for docs menu */
nav#toc {
    margin-top: 16px;
    width: 250px;
}

@media screen and (max-width: 767px) {
	nav#toc {
        display: none;
	}
}

/* content styles */
body {
    line-height: 1.6;
}

h2 {
  margin-top: 10.5px;
}
h3, h4, h5 {
    margin-top: 36px;
}

img {
    max-width: 100%;
}

.panel-body, .table-wrapper {
    max-width: 100%;
    overflow: auto;
}

.panel,
p,
img,
pre {
    margin-top: 16px;
    margin-bottom: 16px;
}

/* center the footer */
footer {
    border-top: 1px solid #ecf0f1;
    margin-top: 16px;
    padding: 16px;
    text-align: center;
    width: 100%;
}
.jumbotron
{   
    padding-top: 80px;
    padding-bottom:0px;
    background-size: cover;
    background: contain;
    width: 100%; /* make sure to define width to fill container */
    height: 400px; /* define the height in pixels or make sure   */
                   /* you have something in your div with height */
                   /* so you can see your image */
    /*max-width:1400px;   define the max width */
 }

 .section-nav {
    padding-left: 0;
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
    padding-top: 36.5px;
  }
  
  .section-nav ul {
    padding-left: 1rem;
  }
  
  .section-nav ul ul {
    display: none;
  }
  
  .toc-entry {
    display: block;
  }
  
  .toc-entry a {
    display: block;
    padding: .125rem 1.5rem;
    color: #99979c;
  }
  
  .toc-entry a:hover {
    padding-left: 19px;
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #563d7c;
  }

  .toc-entry a:active {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}
.toc-entry .active {
  padding-left: 18px;
  font-weight: 700;
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}
.toc-entry a:focus {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}
.breadcrumb {
  background-color: transparent;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 5px;
}

.btn-prev {
  width: 70px;
}

.btn-next {
  width: 70px;
  float: right;
}


input[type=search] {
  background: #2C3E50;
  border: solid 1px #ccc;
  padding: 6px 6px 6px 6px;
  text-align: center;
  width: 12%;
  height: auto;
  margin-top: 14px;
  float: right;
}
input[type=search]:focus {
	width: 20%;
	background-color: #ccc;
	border-color: #333;
  border: solid 1px #fff;
  padding: 6px 6px 6px 6px;
  height: auto;
  margin-top: 14px;
  float: right;
  text-align: left;
}
