<script src="{{ site.baseurl }}/node_modules/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/node_modules/prismjs/prism.js"></script>
<script src="{{ site.baseurl }}/node_modules/prismjs/prism.r.js" type="text/javascript"></script>
<script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.js"></script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<footer>

  <div class="wrapper">
      <p>&copy; 2022 Cole Trapnell</p>
  </div>

</footer>





