<div class="container-fullwidth">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">Monocle 3</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="{{ site.baseurl }}/monocle3_docs/">Documentation</a></li>
              <!-- <li><a href="{{ site.baseurl }}/Paul/">Paul</a></li> -->
              <li><a href="http://cole-trapnell-lab.github.io/monocle-release/">Older versions</a></li>
              <li><a href="{{ site.baseurl }}/papers/">Publications</a></li>
              <li><a href="https://github.com/cole-trapnell-lab/monocle3">GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
  
  </header>
  